:root {
  /* main colors */
  --background: #2E2127;
  --nav-fot: #201A1D;
  /* text colors */
  --title: #DDBCE5;
  --text: #FFFFFF;
  /* container */
  --main-container: #514D52;
  /* comments */
  --comment-stroke: #C489A1;
  --comment-container: #2A232F;
  --comment-title: #FFFFFF;
  --comment-text: #C6C6C6;
  /* buttons */
  --main-button: #C489A1;
  --main-button-text: #2E2127;

  --main-button-text-hover: #FFFFFF;

  --main-button-sel: #55293B;
  --main-button-sel-text: #FFFFFF;

  --special-button: #ae7534;
  --special-button-hover: #C2823A;

  --negative-button: #A9393B;
  --negative-button-color: #CC4346;
  /* input color */
  --input: #ffffff;
  --input-text: #201A1D;
  /* popup color */
  --popup-container: #55293B;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main.container-fluid {
  flex: 1;
  /* take all available vertical space */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container-fluid {
  padding: 0;
}

.btn {
  background-color: var(--main-button);
  color: var(--main-button-text);
  border-color: none;
  padding: 0;

  a {
    color: var(--main-button-text);
  }
}

.btn:hover {
  background-color: var(--main-button);
  color: var(--main-button-text-hover);

  a {
    color: var(--main-button-text-hover);
  }
}

.link-btn {
  color: var(--main-button);
}

.link-btn:hover {
  color: var(--main-button-text-hover);
}

.special-link-btn {
  color: var(--special-button);
}

.special-link-btn:hover {
  color: var(--special-button-hover);
}

.special-btn {
  background-color: var(--special-button);
  color: var(--text);

  a {
    color: var(--text);
  }
}

.special-btn:hover {
  background-color: var(--special-button-hover);
}