# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=recipy


# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password123
MONGO_INITDB_DATABASE=recipy


# URLs de servicios
API_GATEWAY_URL=http://recipy-ag:3030        # API Gateway
RECIPE_MS_URL=http://recipe-ms:8000          # Servicio de recetas
USERAUTH_MS_URL=http://userauth-ms:5000      # Servicio de autenticación
MAIL_MS_URL=http://mail-ms:8080         # Servicio de mails de correo
IMAGE_MS_URL=http://image-ms:8080  # Imágenes

# UserAuth - PostgREST
PGRST_URL=http://userauth-postgrest:3000 # Endpoint PostgREST para la base de usuarios
PGRST_JWT_SECRET=qwertyuiopasdfghjklzxcvbnm123456 # Clave JWT de PostgREST (actualizar en postgrest.conf)
JWT_EXP_HOURS=24                              # Expiración de token en horas


# Configuración de la base de datos para PostgREST
PGRST_DB_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@userauth-db:5432/${POSTGRES_DB}
PGRST_DB_SCHEMA=recipy
PGRST_DB_ANON_ROLE=web_anon
PGRST_SERVER_PORT=3000


# Para recipe-db
RECIPE_USER=recipe_user
RECIPE_PWD=recipe_pass
# Para recipe-ms
MONGO_URL="mongodb://${RECIPE_USER}:${RECIPE_PWD}@recipe-db:27017/${MONGO_INITDB_DATABASE}?authSource=recipy"


# Para userauth-ms
# POSTGREST_URL=http://userauth_postgrest:3000

# JWT para UserAuth microservicio
JWT_SECRET=qwertyuiopasdfghjklzxcvbnm123456 # Se usa para firmar tokens en userauth-ms
JWT_ALGO=HS256 # Algoritmo que se usará en recipe-ms para decodificar

# PGRST_USERS_DB_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@userauth-db:5432/${POSTGRES_DB}
# PGRST_USERS_DB_SCHEMA=recipy
PGRST_USERS_DB_ANON_ROLE=web_anon
PGRST_USERS_SERVER_PORT=3000

# Sobreescribir jwt-secret si queremos tomarlo de env:
# POSTGREST_JWT_SECRET=qwertyuiopasdfghjklzxcvbnm123456

# Para image-ms
ASPNETCORE_ENVIRONMENT=Development
Image__API_GATEWAY_URL=http://recipy-ag:3030

# SMTP
#MAIL_SMTP_HOST=smtp.gmail.com
#MAIL_SMTP_PORT=587
# Docs: Método opción 2 disponible en https://support.google.com/a/answer/176600?hl=en 
MAIL_SMTP_USER=direccion_de_correo_emisor
MAIL_SMTP_PASS=application_password_asociado_a_la_cuenta_USER

# RabbitMQ
AMQP_URL=amqp://guest:guest@mail-broker:5672/

# Para token-db
TOKEN_DB_USER=admin
TOKEN_DB_PASSWORD=password123
TOKEN_DB_NAME=token_db
TOKEN_DB_PORT=5432
RABBITMQ_HOST=mail-broker
RABBITMQ_PORT=5672

# Image__API_GATEWAY_URL=http://recipy-ag:3030

# Para recipy-rp
# API_GATEWAY_URL=http://recipy-ag:3030 # Ya está definido arriba, lo pongo aquí para notar que se usa en recipy-rp

# Para pruebas de mail-ms desde userauth-ms
MAIL_SMTP_HOST=mailhog
MAIL_SMTP_PORT=1025
MAIL_SMTP_USER=no-reply@recipy.local
MAIL_SMTP_PASS=
