.container {
  margin-bottom: 1rem;
}

.itemsList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.itemRow {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.itemNumber {
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: avr(--title);
  margin-top: 0.75rem;
}

.input,
.textarea {
  flex: 1;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.input:focus,
.textarea:focus {
  border-color: #C9BCCE;
  outline: none;
  box-shadow: 0 0 0 1px #C9BCCE;
}

.textarea {
  resize: vertical;
}

.removeButton {
  background-color: transparent;
  color: #3e424a;
  border: none;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  margin-top: 0.5rem;
}

.removeButton:hover {
  background-color: #3d3131;
  color: #CC4346;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--main-button);
  color: var(--main-button-text);
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.addButton:hover {
  background-color: var(--main-button);
  color: var(--main-button-text-hover);
}
